*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    background-color:white;
    flex-direction: column;
}
nav{
    height: 18vh;
    width: 100%;
    font-size: 12vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(79, 75, 75);
    font-weight: bold;
    font-family: 'roboto','Courier New', Courier, monospace;
}

#board{
    width: 700px;
    height: 700px;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    justify-content: center;
    align-items: center;

}
.same{
    width: 200px;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(37, 65, 65);
    padding: 20px;
    border-radius: 10px;
}
.inner{
    border: 1px solid black;
}
button{
    width: 170px;
    height: 60px;
    font-size: 30px;
    font-style: bold;
    color: white;
    background-color: black;
    border: none;

}