*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'roboto';
}

body{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    background-color:white;
    flex-direction: column;
    width: 100%;
}
nav{
    height: 18vh;
    width: 100%;
    font-size: 12vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(79, 75, 75);
    font-weight: bold;
    font-family: 'roboto','Courier New', Courier, monospace;
}

.main{
    width:100%;
    height: auto;
    display: flex;
    justify-content: space-around;

}
.main2{
    width: 600px;
    height: 600px;
    display: flex;

}

#board{
    width: 500px;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    border: none;
    box-shadow: 0 0 10px black;

}
#size{
    padding: 0;margin: 0;
    box-sizing: border-box;
}
.same{
    width: 200px;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    border: none;
} 
.inner{
    border: none;
}
button{
    width: 120px;
    height: 50px;
    font-size: 30px;
    font-style: bold;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    border: none;
    border-radius: 6px;
    box-shadow: 0 0 5px black;
    cursor: pointer;
    font-size: 20PX;

}
button:hover{
    background-color: rgb(180, 213, 242);
}
.button{
    height: 300px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}

#colourpicker{
    appearance: none;
    height: 80px;
    width: 80px;
    border-radius:50%;
    border: silver;
    padding: 0;
    overflow: hidden;
    background: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
}



#colourpicker::-webkit-color-swatch {
    border-radius: 50%;  /* Makes inside color preview circular */
    border: none;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 10px rgb(0, 0, 0);
}

#colourpicker::-moz-color-swatch {
    border-radius: 50%;
    border: none;
    width: 100%;
    height: 100%;
    box-shadow: 5px 5px 5px silver;
}

input{
    color: white;
}